.EDgram {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Sign {
  text-align: center;

  &-title {
    width: 100%;
    height: 20vh;
    font-weight: bold;
    text-indent: -9999px;
    background: {
      image: url('./assets/img/edgram-logo.png');
      size: contain;
      repeat: no-repeat;
      position: center;
    }
  }

  &-button {
    &:hover { transform: rotateY(360deg); }

    & > * {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.Header {
  top: 0;
  padding: .5rem;

  &-logo {
    width: 100%;
    height: 2rem;
    font-weight: bold;
      text-indent: -9999px;
      background: {
        image: url('./assets/img/edgram-logo.png');
        size: contain;
        repeat: no-repeat;
        position: center;
      }
  }
}

.Content {
  padding: 3rem 0 1rem;

  &-section {
    width: 100%;
    min-height: 100vh;
  }
}

.Footer { bottom: 0; }

[class$="-menu"] {
  padding: .25rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;

  & button { font-size: 5vw; }
}

.Uploader {
  & input[type="file"] { display: none; }

  & label {
    font-size: 2rem;
    cursor: pointer;
  }
}

.Profile {
  margin: auto;
  text-align: center;

  & > * { margin: .5rem auto; }

  &-name {
    font: {
      weight: bold;
      size: 10vw;
    }
  }

  &-email { font-size: 5vw; }

  &-avatar {
    border-radius: 50%;
    max-width: 300px;
  }

  &-photos {
    & img {margin: 1rem auto; }
  }
}

.Camera {
  &-photo {
    padding: .5rem;
    background-color: #FFF;
  }
}

.Timeline {
  & .Photo {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &-author {
      padding: .25rem;
      width: 100%;
      order: -1;
      display: flex;
      align-items: center;
      background: linear-gradient(180deg, $fourth-color, $third-color, $fourth-color);

      &Avatar {
        margin: 0;
        max-width: 24px;
        border-radius: 50%;
      }

      &Name {
        margin-left: .25rem;
        font-size: 4vw;
      }
    }
  }
}

